html, body, h1, p, h2, h3 {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Fira Sans';
    min-height: 100%;
    background-color: black;
    padding: 2vh;
    color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 16vh;
}

.logo1 img {
    height: 14vh;
}

.logo3 img {
    height: 12vh;
}

.logo4 img {
    height: 10vh;
}

hr {
    display: block;
    background-color: #E3000B;;
    height: 2vh;
    border: none;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.section1 {
    display: flex;
    flex-grow: 1;
}

.section1 > div:first-child {
    width: 55%;
    height: 80vh;
    min-width: 55%;
    background-image: url(./img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section1 > div:last-child {
    position: relative;
    width: 50%;
    min-width: 50%;
    left: -5%;
    height: 30vh;
    top: 10vh;
    background-color: #E3000B;
    padding: 4vh 4vw;
}

.section1 > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.section1 h1 {
    font-family: 'Fira Sans';
    font-weight: normal;
    font-size: 4vh;
}

.section1 p {
    font-family: 'Open Sans';
    font-size: 2vh;
    margin-top: 2vh;
}

.big-button {
    font-family: Montserrat;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: white;
    font-size: 2.5vh;
    line-height: 2.5vh;
    color: #E3000B;
    padding: 3vh 4vw;
    height: 8vh;
    border-radius: 16vh;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 100%;
    margin-top: -4vh;
    align-self: center;
}

.big-button:hover{
    background-color: #eee;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

.item {
    display: flex;
}

.item img {
    max-width: 100%;
}

.item__img {
    margin-right: 2vw;
}

.item__text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-size: 3vh;
}

.item__text span {
    color: #E3000B;
}

.item__button {
    background: #E3000B;
    border-radius: 15px;
    font-size: 1.8vh;
    font-family: Montserrat;
    letter-spacing: 0.1em;
    padding: 2vh 2vw;
    color: white;
    text-decoration: none;
    margin-top: 2vh;
    display: inline-flex;
}

.item__button:hover{
    background-color: #Fe101b;
}

.item--text .item__img {
    position: relative;
}

.item--text .item__img::after {
    content: 'скоро';
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #E3000B;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3.6vh;
}

.mobile {
    display: none;
}

@media (max-width: 800px) {
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
    
    .header img {
        height: 10vh;
    }

    .logo1 img {
        height: 8vh;
    }

    .logo3 img {
        height: 6vh;
    }

    .logo4 img {
        height: 4vh;
    }

    hr {
        height: 1vh;
    }

    .section1 {
        flex-direction: column;
    }

    .section1 > div:first-child {
        width: 100%;
        height: 30vh;
    }
    
    .section1 > div:last-child {
        position: relative;
        left: 0;
        top: -5vh;
        width: 80%;
        height: fit-content;
        margin: 0 auto;
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item {
        flex-direction: column;
    }

    .item__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
    }

    .item__text {
        text-align: center;
    }
}